<link rel='stylesheet' href='./css/profiles.css' />

<body>
    <div id="menu">
        <ul>
            <li>
                <div class="dropdown">
                    <button class="dropbtn"><a href="./bill_input">Lập hoá đơn</a></button>
                </div>
            </li>
            <li>
                <div class="dropdown">
                    <button class="dropbtn"><a href="./bill_info">Thông tin hoá đơn</a></button>
                </div>
            </li>
        </ul>
    </div>

    <div>
        <img alt="KÝ TÚC XÁ ĐHBKHN" src="http://ktx.hust.edu.vn/wp-content/uploads/2019/05/2.16.jpg">
    </div>
</body>
