<div id="menu">
    <ul>
        <li><a href="./profiles">Hồ sơ</a>
        </li>
        <li><a href="./notification">Thông báo</a>
        </li>
        <li><a href="./bill">Thanh toán hoá đơn</a></li>
    </ul>
</div>

<div class="left">
    <div>
        <a href=""><b>Thông báo về việc bắt buộc khai báo Tờ khai y tế trước khi quay trở lại KTX</b></a>
            <br>
            Tháng Năm 1, 2021
            Trung tâm Quản lý Ký túc xá thông báo: Khai báo bắt buộc thông....
            <br>
            <br>
        <a href=""><b>Thông báo kế hoạch xếp ở và thu lệ phí kỳ II/2020-2021</b></a>
            <br>
            Tháng Một 8, 2021
            Căn cứ vào kế hoạch xếp ở của sinh viên nội trú KTX năm học 2020-2021 Căn cứ vào quyết định số 1137/QĐ-ĐHBK-TTQL KTX của Hiệu trưởng Trường ĐHBK Hà nội ký ngày 31/07/2020 v...
    </div>
</div>

<div class="content">
    <p>Nội dung chính</p>
</div>

<div class="right">
    <p>Nội dung</p>
</div>