<div id="menu">
    <ul>
        <li><a href="./profiles">Hồ sơ</a>
        </li>
        <li><a href="./notification">Thông báo</a>
        </li>
        <li><a href="./bill">Thanh toán hoá đơn</a></li>
    </ul>
</div>

<div class="left">
    <div>
        <p>Thông báo</p>
    </div>
</div>

<div class="content">
    <p>Nội dung chính</p>
</div>

<div class="right">
    <p>Nội dung</p>
</div>