<div id="menu">
    <ul>
        <li><a href="./profiles">Hồ sơ</a>
        </li>
        <li><a href="./bill">Hoá đơn</a>
        </li>
        <li><a href="./record">Biên bản</a>
        </li>
        <li><a href="./update">Cập nhật thông tin</a>
        </li>
    </ul>
</div>

<div class="left">
    <div>
        <a href="http://ktx.hust.edu.vn/thong-bao-ve-viec-bat-buoc-khai-bao-to-khai-y-te-truoc-khi-quay-tro-lai-ktx/"><b>Thông báo về việc bắt buộc khai báo Tờ khai y tế trước khi quay trở lại KTX</b></a>
            <br>
            <p>Tháng Năm 1, 2021
            Trung tâm Quản lý Ký túc xá thông báo: Khai báo bắt buộc thông....</p>
        <a href="http://ktx.hust.edu.vn/thong-bao-ke-hoach-xep-o-va-thu-le-phi-ky-ii-2020-2021/"><b>Thông báo kế hoạch xếp ở và thu lệ phí kỳ II/2020-2021</b></a>
            <br>
            <p>Tháng Một 8, 2021
            Căn cứ vào kế hoạch xếp ở của sinh viên nội trú KTX năm học 2020-2021 Căn cứ vào quyết định số 1137/QĐ-ĐHBK-TTQL KTX của Hiệu trưởng Trường ĐHBK Hà nội ký ngày 31/07/2020 v...</p>
    </div>
</div>

<div class="content">
    <p>Nội dung chính</p>
</div>

<div class="right">
    <a href="http://ktx.hust.edu.vn/thong-bao-dang-ky-o-noi-tru-ktx-ky-i-nam-hoc-2020-2021-cho-sv-k65/"><b>THÔNG BÁO: Đăng ký ở nội trú KTX kỳ I- năm học 2020-2021 cho SV K65</b></a>
            <br>
            <p>Tháng Mười 1, 2020
            Trung tâm QL KTX xin trân trọng thông báo thông tin xếp ở kỳ I/2020-2021 cho sinh viên K65 như sau 
            <br>
            Nhà xếp ở: B5, B6, B9 Thời gian mở đăng ký và nộp lệ phí: Từ 05/10 đến 14/06
            Lưu ý:
            Sau khi đăng ký thành công, sinh viên phải hoàn thành thanh toán chuyển tiền trong vòng 24 giờ kể từ thời điểm đăng ký. Sau 24h, đăng ký online không còn hiệu lực.
            Sinh viên chỉ nộp đúng ...</p>
</div>