<div class="tittle">
    <h3>Ban quản lý kí túc xá Đại học Bách khoa Hà Nội</h3>
</div>

<div class="logout">
    <button onclick="myFunction()" style="background-color: #5069f8">Đăng xuất</button>
</div>

<script>
    function myFunction() {
        document.cookie = "username=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
      window.location.reload();
    }
</script>