<html>

<head>
    <link rel='stylesheet' href='./css/register.css' />
</head>

<body>
    <form action="" method="POST" onsubmit="return validate()">
        <div class="registerform">
            <h1>Phếu đăng ký</h1>
            <p>Vui lòng điền thông tin để đăng ký</p>
            <hr>
                <label for="msPDK"><b>Mã phiếu đăng kí</b></label>
                <input type="text" name="msPDK" id="msPDK">
                <label for="mssv"><b>MSSV</b></label>
                <input type="number" name="mssv" id="mssv">
                <label for="msPhong"><b>Mã số phòng</b></label>
                <input type="text" name="msPhong" id="msPhong">
                <label for="NgayBD"><b>Ngày bắt đầu</b></label>
                <input type="date" name="NgayBD" id="NgayBD">
                <label for="giaPh"><b>Giá Phòng</b></label>
                <input type="number" name="giaPh" id="giaPh">
                <label for="tongTien"><b>Tổng tiền</b></label>
                <input type="number" name="tongTien" id="tongTien">
                <label for="nguoiThu"><b>Người thu tiền</b></label>
                <input type="text" name="nguoiThu" id="nguoiThu">
            <hr>
            <p>Vui lòng đồng ý với nội quy, quy định của Ban quản lý kí túc xá đề ra.</p>
            <button type="submit" class="submit">Đăng ký</button>
        </div>
    </form>
</body>

</html>