<link rel='stylesheet' href='./css/profiles.css' />

<body>
    <div id="menu">
        <ul>
            <li>
                <div class="dropdown">
                    <button class="dropbtn">Hồ sơ sinh viên</button>
                    <div class="dropdown-content">
                        <a href="./stu_info">Thông tin sinh viên</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="dropdown">
                    <button class="dropbtn">Hồ sơ phòng</button>
                    <div class="dropdown-content">
                        <a href="./room_info">Thông tin phòng</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div>
        <img alt="KÝ TÚC XÁ ĐHBKHN" src="http://ktx.hust.edu.vn/wp-content/uploads/2019/05/2.9.jpg">
    </div>
</body>