<html>

<head>
    <link rel='stylesheet' href='./css/register.css' />
</head>

<body>
    <form action="" method="POST" onsubmit="return result()">
        <div class="registerform">
            <h1>Biên bản vi phạm</h1>
            <div>
                <hr>
                <label for="msBBVP"><b>Mã số biên bản vi phạm</b></label>
                <input type="text" name="msBBVP" id="msBBVP">
                <br>
                <label for="MSSV"><b>MSSV</b></label>
                <br>
                <input type="number" name="MSSV" id="MSSV">
                <br>
                <br>
                <label for="msPhong"><b>Mã số phòng</b></label>
                <br>
                <input type="text" name="msPhong" id="msPhong">
                <br>
                <label for="LoiVP"><b>Lỗi vi phạm</b></label>
                <br>
                <input type="text" name="LoiVP" id="LoiVP">
                <br>
                <br>
                <label for="HinhThucXLVP"><b>Hình thức xử lý vi phạm</b></label>
                <br>
                <input type="text" name="HinhThucXLVP" id="HinhThucXLVP">
                <br>
                <br>
                <label for="NgayLBB"><b>Ngày lập biên bản vi phạm</b></label>
                <input type="date" name="NgayLBB" id="NgayLBB">
                <br>
                <br>
                <label for="NguoiLBB"><b>Người lập biên bản</b></label>
                <br>
                <input type="text" name="NguoiLBB" id="NguoiLBB">
                <br>
                <hr>
            </div>
            <p>Vui lòng đồng ý với nội quy, quy định của Ban quản lý kí túc xá đề ra.</p>
            <button type="submit" class="submit">Gửi</button>
        </div>
    </form>
</body>

</html>