<link rel='stylesheet' href='./css/stu_info.css' />

<body>

    <table id="customers">
        <tr>
            <th>MSSV</th>
            <th>Nganh</th>
            <th>Hoten</th>
            <th>CMND</th>
            <th>NgaySinh</th>
            <th>GioiTinh</th>
            <th>QueQuan</th>
            <th>SDT</th>
            <th>Email</th>
        </tr>
        <tr>
            <td>Alfreds Futterkiste</td>
            <td>Maria Anders</td>
            <td>Germany</td>
        </tr>
    </table>

</body>