<link rel='stylesheet' href='./css/profiles.css' />

<body>
    <div id="menu">
        <ul>
            <li>
                <div class="dropdown">
                    <button class="dropbtn">Cập nhât thông tin sinh viên</button>
                    <div class="dropdown-content">
                        <a href="./student">Đăng kí sinh viên</a>
                        <a href="./stu_update">Sửa hồ sơ sinh viên</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="dropdown">
                    <button class="dropbtn">Cập nhật thông tin phòng</button>
                    <div class="dropdown-content">
                        <a href="./phieuDK">Đăng kí phòng</a>
                        <a href="./room_update">Chỉnh sửa hồ sơ phòng</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="dropdown">
                    <button class="dropbtn">Danh sách biên bản</button>
                    <div class="dropdown-content">
                        <a href="./record_info">Danh sách</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div>
        <img alt="KÝ TÚC XÁ ĐHBKHN" src="http://ktx.hust.edu.vn/wp-content/uploads/2019/05/2.1-1.jpg">
    </div>
</body>