.container {
    width: 1000px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

.header {
    height: 100px;
    background-color: #F5F5F5;
    margin-bottom:5px;
    padding-top: 5;
    text-align: center;
    color: red;
}

#menu {
    height: 30px;
    line-height: 30px;
    background-color: #F5F5F5;
    margin-bottom:5px;
    clear: both;
    text-align: center;
}

#menu ul, #menu li{
    padding:0;
    margin:0;
}

#menu li{
    position: relative;
    float: left;
    list-style: none;
    padding: auto;
    margin: auto;
}

#menu li a{
    width: 333px;
    height: 30px;
    display: block;
    text-decoration:none;
    text-align: center;
    line-height: 30px;
    background-color: pink;
    color: white;
}
 
#menu ul ul li a{
    width: 100px;
    text-align: left;
}

#menu li a:hover{
     background-color: red;
}

#menu ul ul{
    position: absolute;
    top: 30px;
    left: 15px;
    visibility: hidden;
}

#menu ul li:hover ul{
    visibility: visible;
}

.content {
    width: 600px;
    min-height: 400px;
    float:left;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    text-align: center;
    background-color: aqua;
}

.left {
    width: 195px;
    min-height: 400px;
    float:left;
    margin-bottom: 5px;
    text-align: left;
    background-color: palegreen;
}

.right {
    width: 195px;
    min-height: 400px;
    float:right;
    margin-bottom: 5px;
    text-align: center;
    background-color: greenyellow;
}


.footer {
    height: 50px;
    clear: both;
    border: 1px solid #CDCDCD;
    background-color: #F8F8FF;
    text-align: left;
}

